<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>hello there!!</h2>
    <div class="post">
        <h3 class="username">@ <%= post.username %></h3>
        <p class="content"><%= post.content %></p>  
    </div>
    <a href="http://localhost:8080/posts"> back to posts</a>
</body>
</html>